<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>demo</title>
        <style>
            body {
                display: flex;
                justify-content: center;
                align-items: center;
                position:absolute;
                top:0;
                left:0;
                right:0;
                bottom:0;
            }
        </style>
    </head>
    <body>
        <iframe
            src="hopeLive.html?rtmp=rtmp%3A%2F%2F192.168.2.211%3A1935%2Frtmplive%2F&&hls=http%3A%2F%2Fivi.bupt.edu.cn%2Fhls%2Fcctv1hd.m3u8"
            width="800px"
            height="500px"
            frameborder="0"
        ></iframe>
    </body>
</html>
