// 颜色
@primaryColor: #58C4F2;
@subColor: #58C4F2;
@successColor: #67c23a;
@errorColor: #f56c6c;
@warningColor: #e6a23c;

@darkColor: #333333;
@lightColor: #ffffff;
@mediumColor: #555555;

@disabled_light: #e6e6e6;
@disabled_normal: #d2d2d2;
@borderColor: #d8d8d8;
@placeholder: #555555;
@barColor: #888888;
@maskColor: rgba(0, 0, 0, 0.3);

//默认断点
@max: 1200px, 750px;
@min: 750px, 1px;
@name: hopeui-col-md, hopeui-col-xs;
