// 颜色
@primaryColor: #005aaa;
@subColor: #fe7b5e;
@successColor: #67c23a;
@errorColor: #f56c6c;
@warningColor: #e6a23c;

@darkColor: #333333;
@lightColor: #ffffff;
@mediumColor: #555555;

@disabled_light: #e6e6e6;
@disabled_normal: #d2d2d2;
@borderColor: #eeeeee;
@placeholder: #aaaaaa;
@barColor: #888888;
@maskColor: rgba(0, 0, 0, 0.3);

//默认断点
@max: 1199px, 750px;
@min: 750px, -1px;
@name: hopeui-col-md, hopeui-col-xs;
