// 颜色
@primaryColor: #2db4ee;
@subColor: #2db4ee;
@successColor: #67c23a;
@errorColor: #f56c6c;
@warningColor: #e6a23c;

@darkColor: #333333;
@lightColor: #ffffff;
@mediumColor: #555555;

@disabled_light: #e6e6e6;
@disabled_normal: #d2d2d2;
@borderColor: #d8d8d8;
@placeholder: #555555;
@barColor: #888888;
@maskColor: rgba(0, 0, 0, 0.3);

//默认断点
@max: 1199px, 991px, 700px, 575px;
@min: 991px, 700px, 575px, -1px;
@name: hopeui-col-lg, hopeui-col-md, hopeui-col-sm, hopeui-col-xs;
