@import "./config.less";

.hope-datepicker {
    width: 350px;
    border: solid 1px @gray_light;
    font-size: 12px;
    position: absolute;
    z-index: 999;
    display: none;
    background: #fff;

    .year-month .left {
        width: 45px;
        margin-left: 2px;
    }
    .year-month .month {
        width: 125px;
        margin-left: 1px;
        position: relative;
    }
    .year-month .month span {
        width: 125px;
        position: relative;
    }
    .year-month .year {
        width: 125px;
        margin-right: 1px;
        position: relative;
    }
    .year-month .year span {
        width: 125px;
        text-align: center;
    }
    .year-month .right {
        width: 50px;
    }
    // .year-month .month span,
    // .year-month .year span {
    //     background: url(image/up-default.png) no-repeat center right 6px;
    // }
    // .year-month .month span:hover,
    // .year-month .year span:hover {
    //     background: url(image/up-active.png) @primaryColor no-repeat center right 6px;
    // }
    // .year-month .month span.active,
    // .year-month .year span.active {
    //     background: url(image/up-active.png) @primaryColor no-repeat center right 6px;
    // }
    .week {
        height: 25px;
        color: #9ea7b3;
    }
    .week ul {
        padding: 0;
        margin: 0;
    }
    .week ul li {
        width: 50px;
        line-height: 25px;
        float: left;
        text-align: center;
    }
    .day {
        background: #f3f3f3;
    }
    .day ul {
        overflow: hidden;
    }
    .day ul li {
        height: 50px;
        line-height: 50px;
        width: 50px;
        float: left;
        text-align: center;
        background: #fff;
        cursor: pointer;
        color: @darkFontColor;
    }

    .day ul li:hover {
        background: @gray_superlight;
        color: @darkFontColor;
    }
    .day ul li.active {
        background: @primaryColor;
        color: #fff;
    }

    .day ul li.disable-month {
        color: @gray_light;
        cursor: default;
    }

    .day ul li.disable-month:hover {
        color: @gray_light;
        background:#fff;
    }

    .year-month .month .month-list {
        width: 123px;
        border: solid 1px #ccc;
        border-top: none;
        position: absolute;
        top: 50px;
        left: 0;
        background: #fefefe;
        display: none;
        color: #9ea7b3;
    }
    .month-list ul li {
        width: 50%;
        cursor: pointer;
        text-align: center;
        display: inline-block;
    }
    .month-list ul li:hover {
        background: @gray_superlight;
        color: @darkFontColor;
    }
    .month-list ul li.active {
        background: @primaryColor;
        color: #fff;
    }
    .year-month .year .year-list {
        width: 123px;
        border: solid 1px #ccc;
        border-top: none;
        position: absolute;
        top: 50px;
        left: 0;
        background: #fefefe;
        display: none;
        color: #9ea7b3;
    }
    .year-list ul {
        overflow: hidden;
    }
    .year-list ul li {
        width: 50%;
        cursor: pointer;
        text-align: center;
        display: inline-block;
    }
    .year-list ul li:hover {
        background: @gray_superlight;
        color: @darkFontColor;
    }
    .year-list ul li.active {
        background: @primaryColor;
        color: #fff;
    }
    .year-list .year-change {
        margin-top: 3px;
        margin-bottom: 3px;
        overflow: hidden;
        height: 18px;
        width: 125%;
    }
    .year-change span {
        width: 125px !important;
        height: 18px !important;
    }
    // .year-change .year-left {
    //     margin-left: 4px;
    //     margin-right: 4px;
    //     background: url(image/left-default.png) #fff no-repeat center !important;
    // }
    // .year-change .year-left:hover {
    //     background: url(image/left-active.png) @primaryColor no-repeat center !important;
    // }
    // .year-change .year-right {
    //     background: url(image/right-default.png) #fff no-repeat center !important;
    // }
    // .year-change .year-right:hover {
    //     background: url(image/right-active.png) @primaryColor no-repeat center !important;
    // }
}
.hope-datepicker .year-month {
    height: 50px;
    text-align: center;
    cursor: pointer;
    margin-top: 1px;
}
.hope-datepicker .year-month span {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    float: left;

}
.hope-datepicker .year-month span:hover {
    color: @darkFontColor;
    background: @gray_superlight;
}
.hope-datepicker .year-month span.active {
    color: @darkFontColor;
    background: @gray_superlight;
}

.hope-datepicker .action {
    height: 50px;
    border-top: solid 1px #f3f3f3;
}
.hope-datepicker .action span {
    height: 50px;
    line-height: 50px;
    width: 90px;
    color: @primaryColor;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}
