* {
    font-size: 14px;
}

.docs-box {
    padding: 0 30px;
}

.docs-title {
    margin: 30px 0 20px;
}

.docs-title fieldset {
    border: none;
    padding: 0;
    border-top: 1px solid #ccc;
}

.docs-title fieldset legend {
    margin-left: 20px;
    padding: 0 10px;
}

.docs-title fieldset legend a {
    font-size: 22px;
    font-weight: 300;
}

.docs-content {
    padding-bottom: 50px;
}

.docs-content > * {
    margin-right: 5px;
}

.docs-grid-demo {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 80px;
    height: 80px;
    font-size: 14px;
    overflow: hidden;
    color: #fff;
}

.docs-grid-demo-bg1 {
    background: #ff7400;
}

.docs-grid-demo-bg2 {
    background: #fd9037;
}

.docs-grid-demo-bg3 {
    background: #ffa55b;
}

.docs-content .hopeui-row {
    margin-bottom: 5px;
}

.docs-demo-circle {
    width: 150px;
    height: 150px;
    background: #fff;
    display: block;
    line-height: 150px;
    text-align: center;
    color: rgb(104, 68, 34);
    cursor: pointer;
    user-select: none;
    border: 20px inset #fd9037;
    border-radius: 150px;
    margin:5px 0;
}

#lightbox img {
    width: 100%;
}

#lightbox2 >div{
    overflow: hidden;
    max-height:200px;
}
#lightbox2 img {
    width: 100%;

}

.css-1egeiho tr td{width:900px}